{% extends "base.html" %}

{% block content %}

    <h1 class="title"><b>What is this Website for?</b></h1>
    <br>
    <hr>
    <h2 class="subtitle">SaiFETY is a project extending from the video compression pipeline Txt2Vid (see below).</h2>
    <h2 class="subtitle"> Specifically, we are testing new safety methods to protect user privacy as AI and deepfakes become more and more prevelant.</h2>
    <h2 class="subtitle"> The sentences we ask users to record have very high phoenetic coverage, meaning they use many unique sounds in the english language.</h2>
    <h2 class="subtitle"> For more information on Text2Vid, please feel free to look thourough the GitHub below:</h2>
    <a class="subtitle" href=https://github.com/tpulkit/txt2vid style = "color: darkblue;"> 
        <ins>Txt2Vid Information/GitHub</ins>
    </a>
    <br>
    <hr>
    <h2 class="subtitle"> Once you’ve tested the voice biometric, please consider filling out the form bellow to let us know your thoughts and results.</h2>
    <a href=https://forms.gle/veMQmcuF1QT6zqiEA >
        <button style=“background-color: azure; color: rgb(99, 195, 4);“> Feedback Form </button>
    </a>

{% endblock %}
