{% extends "base.html" %}

{% block content %}

    <h1 class="title"><b>Introductory Video</b></h1>

    <iframe width="840" height="630"
        src= "https://www.youtube.com/embed/oI-vZTYX7C8">
    </iframe>

    <br>

    <h1> Please Fill Out These Two Forms After Testing The Voice Security </h1>
    <a class= "subtile" href= "https://forms.gle/veMQmcuF1QT6zqiEA"> 
        <button><int> Reflection on Experience style</int></button>
    </a>

    <a class= "subtile" href= "https://docs.google.com/forms/d/e/1FAIpQLSeHvRz81TlUQL3MVpxUwp6Y0XzfuGNdDSgMDaLxh7SV-IlbAQ/viewform?usp=sf_link"> 
        <button><int> Demographic Info </int></button>
    </a>
    
    <hr>

    <h1 class="title"><b>What is this Website for?</b></h1>
    <br>
    <h2 class="subtitle">SaiFETY is a project extending from the video compression pipeline Txt2Vid (see below).</h2>
    <h2 class="subtitle"> Specifically, we are testing new safety methods to protect user privacy as AI and deepfakes become more and more prevelant.</h2>
    <h2 class="subtitle"> The sentences we ask users to record have very high phoenetic coverage, meaning they use many unique sounds in the english language.</h2>
    <h2 class="subtitle"> For more information on Text2Vid, please feel free to look thourough the resources below:</h2>

    <a class="subtitle" href=https://github.com/tpulkit/txt2vid style = "color: darkblue;"> 
        <ins>Txt2Vid Information/GitHub</ins>
    </a>

    <br>

    <a class="subtitle" href= "https://www.youtube.com/watch?v=9fU5SN_OR2M&ab_channel=Demuxed"> 
        <button> <int>11 Minute Overview of Txt2Vid</int> </button>
    </a>
    <br>
    <br>

    <a class="subtitle" href= "https://www.youtube.com/watch?v=tnfwlRfeJss&ab_channel=%D0%9A%D0%BE%D0%BD%D1%84%D0%B5%D1%80%D0%B5%D0%BD%D1%86%D0%B8%D1%8FVideoTech">
        <button> <int>Interview with Pulkit Tandon</int> </button>
    </a>
    <hr>

        

{% endblock %}
